<!-- INTERFAZ DE INVENTARIO-->
<%= link_to "Volver a Botica", botica_inicio_path %>

<!-- Formulario de registro de producto en un cuadro -->
<div class="registrar-cuadro">
  <h2>Registrar Nuevo Producto</h2>
  <%= form_with url: productos_path, method: :post do |f| %>
  
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.label :codigo, "Código de Producto" %>
      <%= f.text_field :codigo %>
    </div>
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.label :nombre, "Nombre" %>
      <%= f.text_field :nombre %>
    </div>
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.label :cantidad, "Cantidad Disponible" %>
      <%= f.number_field :cantidad %>
    </div>
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.label :precio, "Precio" %>
      <%= f.number_field :precio %>
    </div>
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.label :proveedor, "Proveedor" %>
      <%= f.text_field :proveedor %>
    </div>
    <div class="centrado"> <!-- Agrega la clase "centrado" aquí -->
      <%= f.submit "Registrar Producto" %>
    </div>
  <% end %>
</div>

<!-- Formulario de búsqueda -->
<h2>Buscar Producto</h2>
<%= form_tag buscar_path, method: :get do %>
  <%= label_tag :buscar, "Buscar Producto por Código:" %>
  <%= text_field_tag :buscar %>
  <%= submit_tag "Buscar" %>
<% end %>

<!-- Tabla de productos en un cuadro -->
<div class="tabla-cuadro">
  <h2>Lista de Productos</h2>
  <table>
    <tr>
      <th>Código</th>
      <th>Nombre</th>
      <th>Cantidad Disponible</th>
      <th>Precio</th>
      <th>Proveedor</th>
    </tr>
    <% @productos.each do |producto| %>
      <tr>
        <td><%= producto.codigo %></td>
        <td><%= producto.nombre %></td>
        <td><%= producto.cantidad %></td>
        <td><%= producto.precio %></td>
        <td><%= producto.proveedor %></td>
      </tr>
    <% end %>
  </table>
</div>
